<h1>Welcome to the "Voices of the Void"! :)</h1>
<p>Grab some tea, stay here, by this virtual campfire and listen to some awesome tunes.</p>
<p>Hope, you'll like it. (^_^)</p>
<br>
<p>Albums avialable:</p>
<ul>
    <% @albums.each do |album| %>
        <li>
            <%= link_to album.name, album_path(album) %> by <%= album.author %> <%= album.length %>

            <% if current_user&.admin? %>
                <%= link_to "Delete", admin_album_destroy_path(album), method: :delete, data: { confirm: "Are you sure?" } %>
                <%= link_to "Edit", edit_admin_album_path(album) %>
            <% end %>
        </li>

    <% end %>
</ul>

<%= button_to "Random Album", random_album_path, method: :get %>
