<h1>Welcome to the "Voices of the Void"! :)</h1>
<p>Grab some tea, stay here and listen to some awesome tunes.</p>
<p>Hope, you'll like this collection. (^_^)</p>
<br>
<h2>Albums avialable</h2><br>

<% if user_signed_in? && current_user.admin? %>
<div class="container mt-4">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= link_to "Name", root_path(sort_column: 'name', sort_direction: @sort_column == 'name' && @sort_direction == 'asc' ? 'desc' : 'asc') %></th>
        <th><%= link_to "Author", root_path(sort_column: 'author', sort_direction: @sort_column == 'author' && @sort_direction == 'asc' ? 'desc' : 'asc') %></th>
        <th><%= link_to "Release Year", root_path(sort_column: 'release_year', sort_direction: @sort_column == 'release_year' && @sort_direction == 'asc' ? 'desc' : 'asc') %></th>
        <th>Length</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= link_to album.name, album_path(album) %></td>
        <td><%= album.author %></td>
        <td><%= album.release_year %></td>
        <td><%= album.length %></td>
        <td><%= album.quantity %></td>
        <td>
            <%= link_to "Delete", admin_album_destroy_path(album), method: :delete, data: { confirm: "Are you sure?" } %>
            <%= link_to "Edit", edit_admin_album_path(album) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% else %>
    <div class="container_css">
        <% @albums.each do |album| %>
            <div class="card">
                <img src="album1.jpg" alt="Album cover">
                <div class="card-body">
                    <h2 class="card-title"><%= link_to album.name, album_path(album) %></h2>
                    <p class="card-text">by <%= album.author %></p>
                </div>
            </div>
        <% end %>
    </div>
<% end %>

<%= button_to "Random Album", random_album_path, method: :get %>

<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container_css {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 0 20px;
  }
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  .card:hover {
    transform: translateY(-5px);
  }
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  .card-body {
    padding: 10px;
  }
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .card-text {
    font-size: 1rem;
    color: #666;
  }
</style>

