<div class="wrapper">
  <h1><%= @album.name %></h1>

  <div class="field">
    Author: <%= @album.author %>
  </div>
  <div class="field">
    Release year: <%= @album.release_year %>
  </div>
  <div class="field">
    Length: <%= @album.length %>
  </div>
  <div class="field">
    Quantity: <%= @album.quantity %>
  </div>

  <% if @album.tracks != [] %>
    <h3>List of tracks:</h3>
    <div class="container mt-4">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Length</th>
            <% if current_user.admin? %>
              <th>Actions</th>
            <% end %>            

          </tr>
        </thead>
        <tbody>
        <% @album.tracks.each do |track| %>
          <tr>
            <td><%= link_to track.name, track_path(track) %></td>
            <td><%= track.length %></td>
            <td>
              <% if current_user.admin? %>
                <%= link_to 'Edit', edit_admin_track_path(track) %>
                <%= link_to "Delete", admin_track_destroy_path(track) %>
              <% end %>            

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<style>
  .wrapper {
    margin: 0% 3% 3% 3%;
    padding: 0% 3% 3% 3%;
  }
</style>