<h1><%= @album.name %></h1>
<p>Author: <%= @album.author %></p>
<p>Release Year: <%= @album.release_year %></p>

  <div class="field">
    Author: <%= @album.author %>
  </div>
  <div class="field">
    Release year: <%= @album.release_year %>
  </div>
  <div class="field">
    Length: <%= @album.length %>
  </div>
  <div class="field">
    Quantity: <%= @album.quantity %>
  </div>