<!DOCTYPE html>
<html>
  <head>
    <title>VoicesOfTheVoid</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="header">
      <%= link_to "VOTV", root_path %>

      <div class="search-form">
        <%= form_tag(search_path, method: "get") do %>
          <%= text_field_tag :query, params[:query], placeholder: "Search..." %>
          <%= select_tag :category, options_for_select(["Name", "Author", "Lyrics"]) %>
          <%= submit_tag "Search" %>
        <% end %>
      </div>

      <div class="user-links">
        <% if user_signed_in? && current_user.admin? %>
          <p>Welcome, <%= link_to "Admin", admin_dashboard_index_path %>!</p>
        <% else %>
          <p>Welcome, User!</p>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to "Edit registration", edit_user_registration_path %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_registration_path %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </div>



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    <div class="wrapper">
      <%= yield %>
    </div>
  </body>



  <style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .search-form {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .user-links {
    display: flex;
    gap: 10px;
  }

  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: stretch;
    }
    
    .search-form {
      margin-top: 10px;
    }
    
    .user-links {
      margin-top: 10px;
    }
  }

  .wrapper {
    margin: 0% 3% 3% 3%;
    padding: 0% 3% 3% 3%;
  }
  </style>
</html>
